header {
  width: 100%;
  padding-left: 17px;
  padding-right: 46px;
  position: fixed;
  top: 0;
  left: 0;
  .nav {
    min-height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      &_toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: 0.1s linear;
        &:hover {
          background-color: var(--bgColor-grey);
          cursor: pointer;
        }
      }
      &_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
          width: 90px;
          height: 20px;
        }
      }
    }
    &__search {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      flex-grow: 0.4;
      height: 38px;
      width: 35%;
      max-width: 720px;
      justify-content: start;
      padding-left: 3rem;
      .inputGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 53%;
        min-width: 100px;
        height: 100%;
        flex-grow: 0.75;
        border-radius: 40px;
        input {
          height: 100%;
          width: 100%;
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
          padding: 0 4px 0 16px;
          font-size: 16px;
          font-family: "Roboto";
          border-top: 1px solid var(--border-color);
          border-bottom: 1px solid var(--border-color);
          border-left: 1px solid var(--border-color);
          color: var(--color-black);
          font-weight: 400;
          &::placeholder {
            font-weight: 400;
            font-family: "Roboto";
          }
        }
        span {
          height: 100%;
          width: 70px;
          background-color: var(--bgColor-grey);
          border: 1px solid var(--border-color);
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          padding: 1px 6px 1px 6px;
          color: var(--color-grey);
          &:hover {
            filter: brightness(95%);
          }
        }
      }
      .microphone {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bgColor-grey);
        color: var(--color-grey);
        cursor: pointer;
        &:hover {
          filter: brightness(90%);
        }
      }
    }
    &__right {
      display: flex;
      flex-direction: row;
      gap: 10px;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .userImage {
        margin-left: 15px;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }
      .addVideoImage,
      .notificationImage {
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-radius: 50%;
        &:hover {
          cursor: pointer;
          background-color: var(--bgColor-grey);
        }
      }
    }
  }
}
