.video {
  width: calc(100% / var(--video-count) - 16px - 0.01px);
  font-family: "Roboto";
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 40px;
  min-width: 250px;
  flex-grow: 0.5;
  @media (max-width: 600px) {
    width: calc(100% / var(--video-count));
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  &__thumbnail {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      max-height: 250px;
      border-radius: 12px;
      @media (max-width: 600px) {
        border-radius: 0;
      }
    }
  }
  &__infos {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    @media (max-width: 600px) {
        padding-left: 8px;
        padding-right: 8px;
      }
    &_poster {
      width: 36px;
      height: 36px;
      margin-top: 12px;
      margin-right: 12px;
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
    &_info {
      flex-grow: 1;
      .title {
        p {
          font-size: 1.17em;
          font-weight: 500;
          max-height: 4.4rem;
          -webkit-line-clamp: 2;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          max-width: 350px;
          white-space: normal;
          color: var(--video-titleColor);
        }
      }
      .poster_name {
        p {
          font-size: 16px;
          line-height: 2rem;
          font-weight: 400;
        }
      }
      .stats {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 3px;
        p {
          font-size: 14px;
          color: var(--video-infoColor);
        }
        span {
          width: 4px;
          height: 4px;
          background-color: var(--video-infoColor);
          border-radius: 50%;
        }
      }
    }
  }
}
